footer {
  padding: 2rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(203, 213, 225, 0.1) !important;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));

  .dmca {
    display: block;
    margin-top: 25px;
  }
}
