.timeline-container {
  margin-top: 4rem;
  color: #fff;

  .timeline-item {
    padding-bottom: 0;

    div {
      background-color: transparent;
    }

    .ant-timeline-item {
      &-tail {
        margin-top: 1rem;
        --tw-bg-opacity: 1;
        background-color: rgb(30 41 59 / var(--tw-bg-opacity));
      }

      &-head {
        margin-top: 1rem;
      }

      &-label {
        padding: .9rem 1rem 1rem;
        font-size: 16px;

        .item:hover {
          color: rgb(148, 163, 184);
          background-color: transparent;
        }
      }

      &-content {
        padding: 1rem;
        transition:
          background-color 0.4s ease,
          border-radius 0.4s ease;

        &:hover {
          border-radius: 1rem;
          background-color: rgba(30, 41, 59, 0.5);
        }
      }
    }

    .item {
      padding: 0;
      color: rgba(148, 163, 184, 1);

      &:hover {
        color: rgba(226, 232, 240, 1);
        background-color: rgba(30, 41, 59, 0.5);
      }

      .item-title {
        display: block;
        margin-bottom: 15px;
        font-weight: 600;
        line-height: 1.5rem;
        color: rgba(226, 232, 240, 1);

        &:hover {
          background: unset;
          color: rgba(226, 232, 240, 1);
        }
      }

      .item-sort-text {
        font-weight: 400;
        color: rgba(148, 163, 184, 1);
      }

      .read-more {
        --tw-text-opacity: 1;
        color: rgb(14 165 233 / var(--tw-text-opacity));
        display: block;
        font-weight: 500;
        line-height: 1.25rem;
        padding-top: 15px;
      }
    }

    .dot {
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
    }
  }
}

@media screen and (max-width: 720px) {
  .timeline-container {
    margin-top: 3rem;

    &.ant-timeline-alternate {

      .ant-timeline-item-tail,
      .ant-timeline-item-head,
      .ant-timeline-item-head-custom {
        inset-inline-start: 0;
      }

      .ant-timeline-item-left,
      .ant-timeline-item-right {
        .ant-timeline-item-content {
          inset-inline-start: unset;
          width: unset;
          text-align: start;
          margin-inline-start: 10px;
        }
      }
    }
  }
}