.prose {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(148 163 184/var(--tw-text-opacity));
    text-align: left;

    h3 {
        font-size: 1.25em;
        line-height: 1.75rem;
        font-weight: 700;
        margin-top: 1.75em;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 3rem;
    }

    hr {
        border-color: rgb(30 41 59 / var(--tw-border-opacity));
        opacity: .5;
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-top-width: 1px;
    }

    a:not(:has(img)) {
        color: rgb(226 232 240 / var(--tw-text-opacity));
        text-decoration-line: none;
        overflow-wrap: break-word;
        border-bottom: 1px solid rgb(103 232 249 / var(--tw-border-opacity));
    }

    p,
    ul,
    ol {
        margin: 0;
        padding: 0;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        list-style: none;

        li {
            position: relative;
            margin-top: .5em;
            margin-bottom: .5em;
            padding-left: 1.25rem;
        }
    }

    ol {
        counter-reset: my-awesome-counter;

        li {
            counter-increment: my-awesome-counter;

            &:before {
                position: absolute;
                content: counter(my-awesome-counter) ". ";
                top: 0;
                left: 0;
                font-weight: 700;
            }
        }
    }

    blockquote {
        color: rgb(255 255 255/var(--tw-text-opacity));
        text-align: center;
        font-weight: 600;
        font-style: italic;
        position: relative;
        margin: 0;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        &::before,
        &::after {
            position: absolute;
            font-size: 1.875rem;
            line-height: 2.25rem;
            line-height: 1;
            --tw-content: '"';
            content: var(--tw-content);
        }

        &::before {
            top: 0;
            left: .5rem;
        }

        &::after {
            bottom: 0;
            right: .5rem;
        }

        a {
            color: transparent;
            background-image: linear-gradient(to right, var(--tw-gradient-stops));
            --tw-gradient-from: #c084fc var(--tw-gradient-from-position);
            --tw-gradient-to: rgba(192, 132, 252, 0) var(--tw-gradient-to-position);
            --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
            --tw-gradient-to: #ec4899 var(--tw-gradient-to-position);
            background-clip: text;
        }
    }

    code {
        color: rgb(226 232 240/var(--tw-text-opacity));
        font-variant-ligatures: none;
        font-size: .875em;
        font-weight: 600;
        overflow-wrap: break-word;
        font-family: CascadiaCode, Arial, Helvetica, sans-serif;

        &::before,
        &::after {
            --tw-content: "`";
            content: var(--tw-content);
        }
    }

    img {
        max-width: 100%;
        border-radius: 15px;
        object-fit: cover;
        max-height: 100vh;
    }

    figure {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center;

        figcaption {
            font-style: italic;
            font-size: .9rem;
            text-align: center;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    strong {
        color: rgb(203 213 225/var(--tw-text-opacity));
        font-weight: 700;
    }

    .codeBlock {
        position: relative;
        margin-top: 2.5rem;
        font-size: 16px;
        line-height: 28px;

        .languageCode {
            background-color: rgb(30 41 59 / var(--tw-bg-opacity));
            font-family: CascadiaCode, Arial, Helvetica, sans-serif;
            pointer-events: none;
            position: absolute;
            top: 1px;
            right: .75rem;
            z-index: 10;
            --tw-translate-y: -100%;
            transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
            border-top-right-radius: .75rem;
            border-top-left-radius: .75rem;
            --tw-bg-opacity: 1;
            padding-left: .75rem;
            padding-right: .75rem;
            padding-top: 2px;
            font-size: .9em;
            text-transform: uppercase;
            --tw-text-opacity: 1;
            color: rgb(226 232 240 / var(--tw-text-opacity));
        }

        .copyCode {
            position: absolute;
            top: 0.55rem;
            right: 1.15rem;
            z-index: 10;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
            border-radius: .5rem;
            background-color: rgba(0, 0, 0, .3);
            padding: .25rem .5rem;
            font-size: .875em;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity));
            opacity: 0;
            transition-property: opacity;
            transition-duration: .2s;
            transition-timing-function: linear;
            cursor: pointer;
            -webkit-appearance: button;
            border: none;
        }

        pre {
            overflow: auto;
            border-radius: .75rem;
            --tw-bg-opacity: 1;
            padding: .75rem;
            font-size: .95em;
            --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
            --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            background-color: rgb(30 41 59 / var(--tw-bg-opacity));
            font-family: CascadiaCode, Arial, Helvetica, sans-serif;
            overflow-wrap: break-word;
            margin: 0;
            font-weight: bold;

            .token-line {
                color: #F8F8F2;

                .string {
                    color: rgb(255, 121, 198);
                }
            }
        }

        &:hover {
            .copyCode {
                opacity: 1;
            }
        }
    }
}

.prose ul li:before {
    position: absolute;
    left: 0;
    height: .125rem;
    width: .75rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity));
    --tw-content: "";
    content: var(--tw-content);
    top: 1rem;
}