.scrollbar {
  max-height: calc(100vh - 7rem);
  padding: 5px 15px;
  --tw-bg-opacity: 1;
  background: rgb(30 41 59 / var(--tw-bg-opacity));
  border-radius: 5px;
  overflow-y: scroll;
  position: sticky;
  top: 100px;

  .related-blogs h2 {
    --tw-text-opacity: 1;
    color: rgb(226 232 240 / var(--tw-text-opacity));
    font-weight: 700;
    margin: 0;
  }

  .group {
    padding: 12px 2px;

    a {
      gap: 10px;
      display: flex;
      padding: 0;

      &:hover {
        background: transparent;

        img {
          transform: scale(1.1);
        }
      }

      h3 {
        font-size: 15px;
        line-height: 20px;
        color: rgb(148, 163, 184);
      }

      .image {
        min-width: 5.5rem;
        width: 5.5rem;
        height: 3rem;
        overflow: hidden;
        border-radius: 0.25rem;

        img {
          object-fit: cover;
          transition-duration: 0.1s;
          color: transparent;
          width: 100%;
          height: 100%;
          max-width: 100%;
          vertical-align: middle;
          transition: transform 0.3s ease;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
      }
    }
  }
}

.blog-detail-container .related-blogs .ant-col {
  padding: 10px 0;
}

@media screen and (max-width: 992px) {
  .scrollbar {
    margin-top: .3rem;
    max-height: unset;
  }
}